@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.active {
  color: #7cb1dd;
  font-weight: bold;
}
.splide__arrow {
  background-color: #7cb1dd !important;
  color: #7cb1dd;
}
.badge {
  --tw-bg-opacity: 1;
  background-color: #7cb1dd;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  top: 0px;
  --tw-text-opacity: 1;
  color: #fff;
  text-transform: uppercase;
}
.card {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn {
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
